* {
  box-sizing: border-box;
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}
.navigation,
.products-list,
.news {
  height: 200px;
  display: flex;
  flex-grow: 1;
}
.main-block {
  display: flex;
  flex-direction: column;
}
.navigation {
  background-color: #ff7f50;
}
.products-list {
  background-color: #006400;
}
.news {
  background-color: #0ff;
}
@media screen and (min-width: 900px) {
  body {
    display: flex;
  }
  .main-block {
    flex-direction: row;
    width: 66.6666%;
    /* или flex:2; */
  }
  .products-list,
  .navigation,
  .news {
    flex: 1 1 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .main-block {
    flex-direction: row;
  }
  .navigation,
  .products-list {
    width: 50%;
    flex-direction: row;
  }
}
