* {
  box-sizing: border-box;
}
table {
  width: 500px;
  margin: 16px;
  /* border: 1px solid black; */
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
tr {
  text-align: right;
}
tr,
th {
  padding: 4px;
}
