* {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  margin: 4px 8px;
  box-sizing: border-box;
}
.login-form {
  margin: 0;
}
.login-form > div:nth-child(1) input {
  margin-top: 0;
}
.login-form {
  margin: 32px;
}
.languages > input:nth-child(1) {
  margin: 0;
  margin-left: 8px;
  /* margin-top: 4px; */
}
.languages > input {
  margin: 0;
}

/* textarea {
  display: block;
} */
