* {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  margin-bottom: 8px;
  margin-left: 8px;
  margin-top: 8px;
}
.login-form > div:nth-child(1) input {
  margin: 0;
  margin-left: 8px;
}
.login-form {
  margin: 32px;
}
.languages > input:nth-child(1) {
  margin: 0;
  margin-left: 8px;
}
.languages > input {
  margin: 0;
}
