.list {
  list-style-type: none;
  font-size: 1.5em;
}
.third {
  text-decoration: green underline;
  text-decoration-style: wavy;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: red overline;
}
