* {
  box-sizing: border-box;
}
header {
  text-align: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;

  /*min-width: 300px;*/
}
.article {
  margin: 8px;
  padding: 16px;
  flex-grow: 1;
  background-color: bisque;
  width: 300px;
  flex-basis: 300px;
}
