$base-font-size: 16px;
$unit: 3em;
$unit-secondary: 8px;
$bcolor-main-green: #006400;
$bcolor-secondary-yelloy: #ffff00;
$bcolor-secondary-orange: #ff7f50;

$color-main-text: #fff;
$color-main-text-dark: #000;
$color-secondary-hover: #9acd32;
