@import "breakpoints.scss";
* {
  box-sizing: border-box;
}
body {
  @include for-large {
    display: flex;
  }
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}
.navigation,
.products-list,
.news {
  height: 200px;
  display: flex;
  flex-grow: 1;
  @include for-large {
    flex: 1 1 0;
  }
}
.main-block {
  display: flex;
  flex-direction: column;
  @include for-large {
    flex-direction: row;
    width: 66.6666%;
    /* или flex:2; */
  }
  @include for-medium-up {
    flex-direction: row;
  }
}
.navigation {
  background-color: #ff7f50;
  @include for-medium-up {
    width: 50%;
    flex-direction: row;
  }
}
.products-list {
  background-color: #006400;
  @include for-medium-up {
    width: 50%;
    flex-direction: row;
  }
}
.news {
  background-color: #0ff;
}
// @media screen and (min-width: 900px) {
//   body {
//     display: flex;
//   }
//   .main-block {
//     flex-direction: row;
//     width: 66.6666%;
//     /* или flex:2; */
//   }
//   .products-list,
//   .navigation,
//   .news {
//     flex: 1 1 0;
//   }
// }
// @media screen and (min-width: 600px) and (max-width: 899px) {
//   //   .main-block {
//   //     flex-direction: row;
//   //   }
//   .navigation,
//   .products-list {
//     width: 50%;
//     flex-direction: row;
//   }
// }
